<div class="home-gallery" layout="column" layout-align="space-around start">

  <div class='projectList' ng-repeat="project in projects" flex>
    <a ui-sref="projects.{{project.id}}"><h2>{{project.title}}</h2></a>

  </div>

</div>




<!-- <div ng-app="">
  <h1>Ng-show & ng-hide</h1>
  <p class="description">Click on the "show"-link to see the content.</p>
  <a href="" ng-click="showme=true">Show</a>
  <button ng-click="showme=false">Hide</button>

  <div class="wrapper">
    <p ng-hide="showme">It will appear here!</p>
    <h2 ng-show="showme">This is mah content, yo!</h2>
  </div>

</div>   -->
