<div class="home-gallery" layout="column" layout-align="space-around start" ng-class="{homehoverstate: hover}">

  <div class='projectList' ng-repeat="project in projects" flex>
    <!-- ADDD THIS BACK TO HAVE THE HOVER BLUE BACKGROUND THING
    ng-mouseover="viewSummary(project.id, true, $index)" ng-mouseleave="viewSummary(project.id, false, $index)" -->
    <!--[{{$index + 1}}] -->
    <a ui-sref="projects.{{project.id}}"><h2 >{{project.title}}</h2></a>
  <!-- <h2>{{hover}}</h2> -->
  </div>

</div>




<!-- <div ng-app="">
  <h1>Ng-show & ng-hide</h1>
  <p class="description">Click on the "show"-link to see the content.</p>
  <a href="" ng-click="showme=true">Show</a>
  <button ng-click="showme=false">Hide</button>

  <div class="wrapper">
    <p ng-hide="showme">It will appear here!</p>
    <h2 ng-show="showme">This is mah content, yo!</h2>
  </div>

</div>   -->
