<div class='project' id='little-boxes'>



  <!-- TESTING ALT VERSION OF LITTLE BOXES HERE -->

  <!-- HEADER IMAGE -->
  <div layout="row" class="project-header-container">

    <div class="image-header" flex layout="column" layout-align="end center"  layout-align-sm="center center">


        <h1 class='title-image-overlay'>little</h1>
        <h1 class='title-image-overlay'>boxes</h1>



    </div>

  </div>

  <!-- END OF PROJECT HEADER -->

<div class="sub-header-image-container" hide-sm>

  <div layout="row" class="project-content" layout-padding layout-align="center end">

    <div flex class='text-container'>
      <p class='small-text' style='font-style:italic; text-align:center'>
        created by
      </p>
    </div>

  </div>

  <div layout="row" class="project-content" id='references-container' layout-padding layout-align="center start">

    <div flex='33' class='text-container'>
      <p class='small-text-title'>
      <a href="">  Ro Brett </a>
      </p>
    </div>
    <div flex='33' class='text-container'>
      <p class='small-text-title'>
      <a href="">  Amelia Lewis </a>
      </p>
    </div>
    <div flex='33' class='text-container'>
      <p class='small-text-title'>
      <a href="">  Lucy Matchett </a>
      </p>
    </div>

  </div>
</div>

  <div class='pad'></div>
  <div class='pad'></div>
  <!-- START OF PROJECT CONTENT -->
  <!-- SECTION ONE -->

  <div layout="row" class="project-content" layout-padding layout-align="center end">

    <div class="horizontal-pad" flex='25'></div>

    <div flex class='text-container'>

      <p class="medium-text">
        Little Boxes was a real time, digitally interactive set of time capsules, in the form of little wooden boxes. Presenting intertwined personal histories of participants, Little Boxes focused on exploring different ways we can experience and sort our personal online data.
      </p>

    </div>

    <div class="horizontal-pad" flex='25'></div>

  </div>

  <!-- END SECTION ONE -->

  <!-- SECTION TWO -->
    <div class='pad'></div>

  <div layout="row" class="project-content" layout-padding layout-align="center start">

    <div class='text-container' flex='40'>
      <div layout='column'>

        <p class='small-text'>
          Upon logging onto our Facebook application guests had the choice to choose a date on our time machine. Scattered around the room, the tiny screens nestled in wooden boxes of all sizes switch to that date, displaying videos, comments, news articles, music, photographs and status updates. Creating a complete blend of personal and communal history’s as the guests explore the boxes, seeing their own memories as well as the others in the room combined with general moments of note from that time.
        </p>
        <!-- MAKE THIS DISSAPPEAR ON SMALLER SCREENS -->
        <div hide-sm class='pad'></div>
        <div hide-sm class='pad'></div>
        <div hide-sm class='pad'></div>

          <div hide-sm layout='row' layout-align="start center">
            <div class='image-container' flex='50'>
              <img src='http://media.lucymatch.com/LB/img_06.jpg'>
            </div>
          </div>

          <div hide-sm class='pad'></div>
          <div hide-sm class='pad'></div>
          <div hide-sm class='pad'></div>
          <div hide-sm class='pad'></div>

          <div hide-sm layout='row' layout-align="center end">
            <div class='image-container' flex='70'>
              <img src='http://media.lucymatch.com/LB/img_08.jpg'>
            </div>
          </div>

          <div hide-sm class='pad'></div>
      </div>
    </div><!-- MAKE THIS DISSAPPEAR ON SMALLER SCREENS END INCLUDING PADS-->

    <div class='image-container' flex='40' layout="column" >
      <div class='pad'></div>
      <div class='large-pad'></div>
      <img src='http://media.lucymatch.com/LB/img_02.jpg'>

      <div class='text-container'>
        <p class="subtitle-text">
          Little Boxes was an interactive installation as a part of Sydney University’s Organized Cacophony exhibit held in The Rocks, Sydney.
        </p>
      </div>
      <div class='large-pad'></div>
    </div>

  </div>
  <!-- END SECTION TWO -->

  <!-- THEBOXES -->
  <div layout='row'  class='page-break'>

    <div class='page-break-image' flex layout="column" id="the-boxes" layout-align="end center">
      <div></div>
      <h1 class='title-image-overlay'>the boxes</h1>

    </div>


  </div>

  <div class='pad'>

  </div>

  <div layout="row" class="project-content" layout-padding layout-align="center start">

    <div flex='30' class='text-container'>
    <p class='small-text'>
      We wanted to create a tactile experience that felt personal to the viewer, so the little boxes themselves, were hand made and designed to hold a variety of different devices, laptops, iPhones and iPads.
    </p>
  </div>

  <div flex='30' class='text-container'>
  <p class='small-text'>
    Each box contains a small screen so each of the boxes could be held by hand and brought up to the face for viewing, to create a more intimate and exploratory viewing experience.
  </p>
  </div>
  </div>

  <div class='pad'>

  </div>

  <div layout="row" class="project-content" layout-padding layout-align="center center" layout-wrap>

    <div class='image-container' flex='25'>
      <img src='http://media.lucymatch.com/LB/img_04.png'>
    </div>

    <!-- <div class='image-container' flex='25'>
      <img src='./media/LB/littleboxes2.jpg'>
    </div> -->

    <div class='image-container' flex='25'>
      <img src='http://media.lucymatch.com/LB/img_03.JPG'>
    </div>

    <div class='image-container' flex='25'>
      <img src='http://media.lucymatch.com/LB/room.png'>
    </div>

  </div>

  <div class='pad'>

  </div>

  <!-- THEDATA -->
  <div layout='row'  class='page-break'>

    <div class='page-break-image' flex layout="column" id="the-system" layout-align="end center">
      <div></div>
      <h1 class='title-image-overlay'>the Data / System</h1>
    </div>


  </div>

  <div class='pad'>

  </div>

  <div layout="row" class="project-content" layout-padding layout-align="center center">

    <div flex='50' class='text-container'>
      <p class='small-text'>
        The overall system was created using the facebook api, instagram api, youtube api, as well as our own hand picked database, consisting of site specific news headlines and points of interest for specific dates. Each of the devices were running as a client side program which our center console communicated with via websockets.
      </p>
    </div>

    <div class='image-container' flex='50'>
      <img src='http://media.lucymatch.com/LB/1.jpg'>
    </div>

  </div>

</div>
