<div class='project' id='wrap-beats'>



<!-- HEADER IMAGE -->
<div layout="row" class="project-header-container">

  <div class="image-header wrap-beats" flex layout="column" layout-align="end center" layout-fill>


      <h1 class='title-image-overlay'>wrap</h1>
      <h1 class='title-image-overlay'>beats</h1>



  </div>

</div>

<!-- END OF PROJECT HEADER -->

<div layout="row" class="project-content" id='references-container' layout-padding layout-align="center center">

  <div flex class='text-container'>
    <p class='small-text' style='font-style:italic; text-align:center'>
      links
    </p>
  </div>

  </div>

  <div layout="row" class="project-content" id='references-container' layout-padding layout-align="center start" layout-wrap>

  <div flex='33' class='text-container'>
    <p class='small-text-title'>
    <a href="">  instructables </a>
    </p>
  </div>
  <div flex='33' class='text-container'>
    <p class='small-text-title'>
    <a href="">  code </a>
    </p>
  </div>
  <div flex='33' class='text-container'>
    <p class='small-text-title'>
    <a href="">  video </a>
    </p>
  </div>

  </div>

<!-- START OF PROJECT CONTENT -->
<!-- SECTION ONE -->

<div layout="row" class="project-content" layout-padding layout-align="center center" layout-wrap>

  <div class='image-container' flex='50'>
    <img src='./media/WB/FinalWrapBeats.png' style='width:190%'>
  </div>

  <div flex class='text-container'>

    <p class="medium-text" style='text-align:left; padding:5%'>
      Wrap Beats is an interactive DIY electronic instrument, which focuses more on the user creating a piece of visual art, that is then represented melodically, rather than learning a new instrument completely.
    </p>

  </div>

</div>

<!-- END SECTION ONE -->

<!-- SECTION TWO -->

<div layout="row" class="project-content" layout-padding layout-align="center end" layout-wrap>

  <div class='text-container' flex='40'>
    <p class='small-text'>
      Upon logging onto our Facebook application guests had the choice to choose a date on our time machine. Scattered around the room, the tiny screens nestled in wooden boxes of all sizes switch to that date, displaying videos, comments, news articles, music, photographs and status updates. Creating a complete blend of personal and communal history’s as the guests explore the boxes, seeing their own memories as well as the others in the room combined with general moments of note from that time.
    </p>
  </div>

</div>

<div layout="row" class="project-content" layout-padding layout-align="end start" layout-wrap>

  <div class='text-container' flex='20'>
    <p class='small-text'>
      Wrap Beats is an interactive DIY electronic instrument, which focuses more on the user creating a piece of visual art, that is then represented melodically, rather than learning a new instrument completely.
    </p>
  </div>

  <div class='image-container' flex='75' layout="column" layout-align="end end">
    <img src='./media/WB/materials.png' >

    <!-- <div class='text-container'>
      <p class="subtitle-text">
        Little Boxes was an interactive installation as a part of Sydney University’s Organized Cacophony exhibit held in The Rocks, Sydney.
      </p>
    </div> -->

  </div>

</div>
<!-- END SECTION TWO -->
<div class='pad'></div>
<div class='pad'></div>

<!-- THEBOXES -->
<div layout='row'  class='video-container project-content' layout-fill>

  <div class='vimeo-container' flex  id="wrap-beats">
    <iframe src="https://player.vimeo.com/video/83290983?color=ffffff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


</div>


</div>
