/*
//////////////////////////////////////////
////////////// G E N E R A L  S T Y L I N G
*/

.hide_mobile{
	display: block !important;
}

.show_mobile{
	display: none;
}


body, p{
	font-family: 'Biryani', sans-serif !important;
	/*FONTS*/
	/*weights 100, 300, 400 & 600 both in italics too*/
	/*font-family: 'Josefin Slab', serif;*/
	/*weights 400 & 900 both in italics too*/
	/*font-family: 'Playfair Display', serif;*/
}

/*WHERE ALL HTML GOES ETC MAIN TEMPLATE HOLDER :)*/

#app{
	width: 100%;
	height: 100%;
	/*height:auto;  THIS LOOKS LIKE RIGHT WAY BUT GOTTA CHANG SHIT*/
	/*padding-bottom:100%;*/
	/*GREY*/
	/*background:#ECF0F1;*/
	/*background: #BFBDBF;*/
	/*background: #8F8B8B;*/
		/*background: #D8D6D9;*/

	/*UGLY POO*/
	/*background: #E7DFCB;*/
	/*PINKY WARM*/
	/*background: #F5DEBC;*/
	/*background: #FFEEEF;*/

	/*background: #FFF0DE;*/
	/**background: #DFE0DB;*/
	/*background-color: blue;*/
	/*margin-top: 10%;*/
	background-size:cover;
	position: relative;
	left:0;
}

/*
//////////////////////////////////////////
////////////// H E A D E R
*/

header {
	/*height: 30%;*/
	width: 100%;
	position: fixed;
	z-index: 1000;
	/*background-color: yellow;*/
	/*top:0;
	left:0;*/

}

header h1 {

	font-family: 'Biryani', sans-serif;
	font-size: 4em;
	transition: all 0.9s ease;
	font-weight: 600;
	letter-spacing: 20px;
	background-color: #2900FF;
	color: white;
}

header a {
	text-decoration: none;
	color: black;
}

header h4{

	font-family: 'Biryani', sans-serif;
	font-size: 0.5em;
	font-weight: 100;

}

.header-container {
	height:100%;
	width:100%;
	position:relative;
}

header h2{
	font-family: 'Biryani', sans-serif;
	font-size: 1em;
	transition: all 0.9s ease;
	font-weight: 600;
	letter-spacing: 20px;
	background-color: #2900FF;
	color: white;
}

header h2:hover{
	background-color: white;
	color: #2900FF;
}

header a{
	text-decoration: none;

}

/*
//////////////////////////////////////////
////////////// FOOOT E R
*/

/*PHONE MENU!*/

footer {

	/*position:fixed;
	background-color:yellow;
	height:11%;
	top:89.5%;
	width:100%;
	border-top-style:outset;
	border-top-color: white;
	border-top-width: thick;
	z-index:1001;*/
}


footer a{
	height: 120%;
	text-decoration:none;
	color: #2900FF;

}

footer h1{
	font-size: 4em;
	font-weight: 900;
	letter-spacing: 20px;
	/*transition: all 0.9s ease;*/
	background-color: white;

}

footer h1:ng-click-active{
	background-color:#2900FF;
}

footer h2{
	font-size: 1.7em;
	font-weight: 600;
	padding-left: 2%;
	padding-right:2%;
	letter-spacing: 5px;
	background-color: white;

}

footer h2:ng-click-active{
	background-color:#2900FF;
	color: white;
}

.footer-container{
	position:fixed;
	background-color:white;
	/*height:15%;*/
	bottom:0%;
	left:0;
	width:100%;
	overflow:hidden;
	border-top-style:solid;
	border-top-color: #2900FF;
	border-top-width: medium;
	z-index:1000;
	text-align: center;
}



/*
//////////////////////////////////////////
////////////// H O M E
*/

.home {
	background-color: white;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	z-index: 100;
}

.homehoverstate{
	background-color:	#2900FF !important;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	transition: all 0.9s ease;
}

.homehovercontent{
	/*background-color:	yellow !important;*/
	width: 100%;
	/* height:100%; */
	margin-left: auto;
	margin-right: auto;
	/* position:relative; */
	transition: all 0.9s ease;
	z-index:5;
	position:fixed;
	height:100%;
	top:10%;
	left:0;
}

.project-summaries{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	/*position:relative;*/
	/*background: yellow;*/
	/*height:auto;*/

}

.project-summaries .container{
	/*border-style: solid;
	border-color: white;
	border-width:thin;*/
	padding: 2%;
	/*padding-bottom:30%;*/
	/*background:yellow;*/
}

.summary-content{
	border-style: solid;
	border-color: white;
	border-width:thick;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

.summary-content h4{
	color: white;
	font-size: 0.8em;
	font-weight: 900;
}

#tags h4{
	width: 80%;
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}

#blurb {
	border-left-style:hidden;
	border-right-style:hidden;
}

#blurb .medium-text{
	color: white;
	font-style: italic;
	font-size: 1em !important;

}



.home-gallery {
	width: 100%;
	position:relative;
	padding-top: 10%;
	transition: all 0.9s ease;

}

.projectList {
	width:50%;
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*padding-top: 5%;*/
	padding-left:20%;
}

.projectList h2{
	text-align: justify;
	font-family: 'Biryani', sans-serif;
	font-size: 4em;
	transition: all 0.9s ease;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 20px;

	/*PINKY*/
	/*color: #FF8A8A;*/
	/*color: #F5DEBC;*/
	/*color: #EDCF9B;*/
	/*color: #FEDD9D;*/

	/*GREY*/
	/*color: #8F8B8B;*/

	/*BLUES*/
	/*color: #004FD6;*/
	/*color: #0250d7;*/
	/*color: #2022F1;*/
	/*color: #0959FF;* USE FOR HIHG/
	/*color: #2420C0;*/

	/*color: #F09876;*/
	color: #2900FF;
	z-index: 700;

}

.projectList a{
	text-decoration: none;
	color: #2900FF;
	transition: all 0.9s ease;
}

.projectList h2:hover{
	border-style:solid;
	border-width:thick;
	border-color:##2900FF;
	border-left-style: hidden;
	border-right-style: hidden;
}

/*
//////////////////////////////////////////
////////////// P R O J E C T S  U N I V E R S A L
*/


.header-image {
	width: 100%;
	height: 0px;
	padding-bottom: 85%;
	/*background-size: cover;*/
	position: absolute;
	/*top:0;*/
	left:0;
	overflow:hidden;

}

.image-header {
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	position: relative;
	width:100%;
	height: 100%;
	overflow: hidden;
	background-size: 160%;
}


/*TESTING SOME SHIT
PROJECTS PAGES
*/

.pad{
	background-color: white;
	padding-bottom:5%;
}

.large-pad{
	height:50%;
	padding-bottom:50%;
}

.project-container {

	/*background-color: yellow;*/
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;

}

.project {
	width:100%;
	height: 100%;
	position:relative;

}


.project-header-container {
	width:100%;
	height:50%;
	position:relative;

}

/*//LITTLE BOXES*/

#little-boxes .image-header {
	background-image: url('http://media.lucymatch.com/LB/img_01.JPG');
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 50% 50%;
	position: relative;
	width:100%;
	height: 100%;
	overflow: hidden;
	background-size: 160%;
}

/*
WRAP BEATS
*/

.wrap-beats {
		background-image: url('http://media.lucymatch.com/WB/materials.png') !important;
}

.image-header .title-image-overlay{
	/*font-size: 3.5em;*/
	text-transform: uppercase;
	letter-spacing: 30px;
}


.title-image-overlay {
	font-weight:900;
	color: white !important;
	position:relative;
}

.project-content {
	width:100%;
	margin-left:auto;
	margin-right:auto;

}

.text-container{

}

#references-container{
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	border-bottom-color: black;
	border-bottom-width: thin;
	border-bottom-style: double;
}

.subtitle-text {
	font-size: 0.5em;
	font-weight: 100;
	font-style: italic;

}

.small-text {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	text-align: justify;
	font-size: 0.8em;
	font-weight: 100;

}

.small-text-title {
	margin-left:auto;
	margin-right:auto;
	text-align: center !important;
	font-size: 0.5em!important;
	font-weight: 700 !important;
	letter-spacing: 10px;

}

.small-text-title a{
		text-decoration: none !important;
		color: black;
		text-transform: uppercase;
		transition: all 0.5s ease;
		padding: 2%;
		text-align: center;
}

.small-text-title a:hover{
	background-color: #2900FF;
	color: white;

}

.medium-text {
	/*width:80%;
	margin-left:auto;
	margin-right:auto;*/
	text-align: right;
	font-size: 1em;
	font-weight: 400 !important;
	/*text-decoration: underline;*/
	letter-spacing: 5px;
	line-height: 30px;
	text-transform: uppercase;

	/*text-transform:full-width;*/

	/*FONTS*/
	/*weights 100, 300, 400 & 600 both in italics too*/
	/*font-family: 'Josefin Slab', serif !important;*/
	/*weights 400 & 900 both in italics too*/
	font-family: 'Playfair Display', serif !important;
}

.image-container{
	overflow:hidden;
}

.image-container img{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.image-container .text-container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.page-break{
	width:100%;
	height: 40%;
	overflow:hidden;
}

.page-break-image{
	height:30%;
}

.page-break .title-image-overlay{
	text-transform: uppercase;
	letter-spacing: 30px;
	/*padding-top: 10%;*/
	color: #2900FF!important;
	font-weight: 800 !important;
	font-size: 3em;
	width:100%;
	text-align: center!important;
}

.page-break-image div{
	height: 30%;
}

#the-boxes{
	background-image: url('http://media.lucymatch.com/LB/boxes.png');
	/*opacity: 0.5;*/
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 50% 80%;
	position: relative;
	width:100%;
	height: 100%;
	overflow: hidden;
	background-size: 100%;
}

#the-system{
	background-image: url('http://media.lucymatch.com/LB/img_05.jpg');
	/*opacity: 0.5;*/
	background-size: cover;
	background-repeat:no-repeat;
	background-position: 50% 80%;
	position: relative;
	width:100%;
	height: 100%;
	overflow: hidden;
	background-size: 100%;
}

#wrap-beats-opening-text{

}

.video-container{
	height:100%;
	width:100%;
	background-color:yellow;
}

.vimeo-container {
        width: 100%;
        height: 100%;
}

.vimeo-container iframe {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        }



/*
/////////////// PHONE STUFFFFFF
*/

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.header-container{
			display: none !important;
		}

		.footer-container{
			display:block !important;
		}

		footer {
			position:fixed;
			background-color:yellow;
			height:11%;
			bottom:0;
			width:100%;
			border-top-style:outset;
			border-top-color: white;
			border-top-width: thick;
			z-index:1001;
		}

		.project-header-container {
			height: 25% !important;
		}

		.sub-header-image-container, .horizontal-pad, .pad{
			display: none !important;
		}


		.medium-text, .small-text{
					padding-left: 5%;
					padding-right: 5%;
					text-align:justify;
					font-size: 3em !important;
					font-family: 'Biryani', sans-serif !important;
					letter-spacing: normal;
					line-height: normal;
					font-weight: 200;
		}

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

		.header-container{
			display: none !important;
		}

		.footer-container{
			display:block !important;
		}

		footer {
			position:fixed;
			background-color:yellow;
			height:11%;
			bottom:0;
			width:100%;
			border-top-style:outset;
			border-top-color: white;
			border-top-width: thick;
			z-index:1001;
		}

		.project-header-container {
			height: 25% !important;
		}

		.sub-header-image-container, .horizontal-pad{
			display: none !important;
		}

		.medium-text, .small-text{
					padding-left: 5%;
					padding-right: 5%;
					text-align:justify;
					font-size: 3em !important;
					font-family: 'Biryani', sans-serif !important;
					letter-spacing: normal;
					line-height: normal;
					font-weight: 200;
		}



}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {


}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

		.header-container{
			display: none !important;
		}

		.footer-container{
			display:block !important;
		}

		footer {
			position:fixed;
			background-color:yellow;
			height:11%;
			bottom:0;
			width:100%;
			border-top-style:outset;
			border-top-color: white;
			border-top-width: thick;
			z-index:1001;
		}

		.project-header-container {
			height: 25% !important;
		}

		.sub-header-image-container, .horizontal-pad{
			display: none !important;
		}

		.medium-text, .small-text{
					padding-left: 5%;
					padding-right: 5%;
					text-align:justify;
					font-size: 3em !important;
					font-family: 'Biryani', sans-serif !important;
					letter-spacing: normal;
					line-height: normal;
					font-weight: 200;
		}

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {


}
