<div class='project' id='trope'>



<!-- HEADER -->
<div layout="row" layout-align:"space-around center" class="project-header-container" ng-style="{'background-image':'url('+imgURL+')'}">

</div>

<div layout="column" class="project-subheader-container">
  <md-whiteframe class="md-whiteframe-z1" ng-click="QnD = !QnD">

    <div layout="row" layout-align="space-around end">

      <div flex>
      <marked>
        ### THE QUICK AND DIRTY
      </marked>
      </div>

    </div>

      <div ng-show="QnD" layout="row" layout-sm="column" layout-align="space-around start" layout-fill>
        <div flex='50'>
          <marked>
          >Trope is a part of a collection of inventive, engaging, and uniquely purposeful web experiences
          >that were built to bring to life and showcase a larger research thesis,
          >The Manifesto for Meaning, conducted by Alex Tosti and myself.

          >The Manifesto for Meaning was the culmination of a year of research,
          >case studies and experimental builds to create a design manifesto that encourages meaningful web design.

          >The goal of The Manifesto for Meaning is first to critically analyse the effects of speed
          >and ease orientated nature of current web design. Secondly, to implement our conclusions
          >into a design manifesto that illustrates alternative ways of thinking about the online space
          >and expands on the limitations of current design.

          >By demonstrating the intricacies and importance of web based interaction our Manifesto for Meaning
          >came to life through two web based experiences,
          >TROPE and THE STORYTELLER that experiment with, as well as showcase,
          >our implementation of interaction conscious design.

          </marked>
        </div>

        <div flex="15">
          <marked>
            #### _links_
            ---
            >trope.cc

            >code

            >research paper

            ---
            #### _related_
            ---
            >storyteller

            >manifesto for meaning

          </marked>
        </div>

        <div flex="15">
          <marked>
            #### _created by_
            ---
            >Lucy Matchett

            >Alex Tosti
          </marked>
        </div>

      </div>

  </md-whiteframe>
</div>

<!-- END OF PROJECT HEADER -->

<div class="project-content two-column-container" layout="row" layout-align="space-around center" layout-padding layout-fill layout-margin>
  <div flex class="main">
    <marked>
      # _TROPE _
    </marked>
  </div>

  <div flex>
    <marked>
      >Trope offers a dynamic, non-passive viewing experience for users.

      >This web experience was built with the goal of giving both
      >producer and audience more control in their ability to
      >leverage the Internet to share their knowledge. By
      >converting video files to a frame by frame experience that
      >the viewer can very easily scroll through Trope provides
      >a unique and more interactive way of viewing video-like
      >content online.

    </marked>
  </div>

</div>

</div>
