<div class='project' id='unified-transport'>



<!-- HEADER -->
<div layout="row" layout-align:"space-around center" class="project-header-container">

  <div flex>
    <marked>
    # Public Transport System

    ---

    ### A Case Study
  </marked>
  </div>

</div>

<div layout="column" class="project-subheader-container">
  <div>
      <marked>
       >Completed in 2012 as a real-life case study and design proposal for an Advanced Interaction Design Course in collaboration with CUBIC at Sydney University. Our team was chosen by CUBIC for our “tag system” concept as the winning proposal and were given the opportunity to present our Design At the CUBIC offices in Sydney.
      </marked>
  </div>
  <div layout="row" layout-fill layout-align="center center">
    <marked>
      <div flex> _team:_ </div>
      <div flex> Ro Brett</div>
      <div flex> Amelia Lewis </div>
      <div flex> Lucy Matchett </div>
    </marked>
  </div>
</div>

<!-- END OF PROJECT HEADER -->

<div layout="row" layout-align="space-around center" layout-padding layout-fill layout-margin class="project-content">
  <div flex>
  <marked>
    THE BRIEF
    =========
  </marked>
  </div>

  <div flex>
    <marked>
    >The design Brief presented by CUBIC required us to rethink the way in which public transport in Sydney Currently works. They wanted us to consider what the user experience is and what it could be. Creating a more unified and intuitive journey for all kinds of users across all different platforms of public transport.
    </marked>
  </div>

</div>
